.aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    display: flex;
    justify-content: left;
    font-size: 1rem;
    font-weight: 700;
    color: #222;
    text-align: start;
    margin-bottom: 12px;
}

.listSkills {
    background-color: white;
    padding: 24px;
    border-radius: 10px;
}
.addSkills {
    display: flex;
    gap: 10px;
}

.selectCity {
    display: flex;
    justify-content: center;
    padding: 24px;
    background-color: white;
    color: grey;
    border-radius: 10px;
}